.App {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.book-list-item {
  box-shadow: 2px 2px 5px #616161b1;
  width: 100%;
  height: auto;
  position: relative;
}
.book-list-container {
  margin: 20px;
}

.book-list-item-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: rgb(6, 138, 33) !important; */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-book-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}